<div id='chart-container'>
  <oj-chart id="boxPlot"
          type="boxPlot" 
          orientation="[[orientationValue]]"
          series="[[boxPlotSeriesValue]]"
          groups="[[boxPlotGroupsValue]]"
          animation-on-display="auto"
          animation-on-data-change="auto"
          hover-behavior="dim"
          style="max-width:500px;width:100%;height:350px;">
  </oj-chart>
  <!-- vertical/horizontal toggle button -->
  <oj-toolbar id="myToolbar" aria-label="Chart Display Options Toolbar" aria-controls="boxPlot"
              style="max-width:500px;width:100%;">
      <!-- vertical/horizontal toggle button -->
      <demo-chart-orientation-control id="orientationControl" type="boxPlot" focus-management="none" orientation="{{orientationValue}}">
      </demo-chart-orientation-control>
  </oj-toolbar>
</div>